.navbar-upper-container {
    width: 100%;
    height: auto;
    background-color: rgb(104, 141, 48);
}

.navbar-upper {
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar-upper-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem;
}

.navbar-upper-links p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;

    margin: 0 1rem;
    cursor: pointer;
}
