.sign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: #fff;
}

.sign__container {
    display: flex;
    justify-content: space-between;
    
    padding: 1rem;
    background-color: #3c2a19;
    
    border: 3px solid #111;
    border-radius: 10px;
}

.sign__big h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.8rem;
}

.sign__small {
    width: 20rem;
}

.sign__small h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
}

.sign__book {
    display: flex;
    flex-direction: column;
    background-color: rgb(156, 44, 22);
    width: 18rem;
}

.sign__book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sign__book h3 {
    align-self: center;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
}

.sign__book h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    align-self: flex-start;
}

.sign__rope {
    display: flex;
    width: 20rem;
    justify-content: space-around;
    align-self: flex-end;
}

.sign__rope span {
    background-color: #000;
    width: 4px;
    padding: 0.5rem 0rem;
}
