.navbar-lower {
    display: flex;
    justify-content: center;
    padding: 0.4rem 6rem;
    background-color: #523f2d;
    width: 100%;
}

.navbar-lower-links {
    display: flex;
    justify-content: center;
}

.navbar-lower-links p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    margin: 0 1rem;
    cursor: pointer;
}

